* {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #5f5f79;
  --bg-color: #fff;
  --heading-color: linear-gradient(to left, #494964, #6f6f89);
  --filters: grayscale(100%);
  --logo-filter: grayscale(100%);
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: linear-gradient(to left, #a9b3ce, #e1e1ff);
  --filters: invert(91%) sepia(20%) saturate(218%) hue-rotate(356deg)
    brightness(108%) contrast(106%);
  --logo-filter: brightness(0) invert(1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  line-height: 2;
}

header {
  display: flex;
  height: 10vh;
  width: 80%;
  margin: auto;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
}

.logo-container,
.nav-links,
.color-mode,
.cover {
  display: flex;
}

.color-mode .sun {
  background: url(./images/sun.svg) no-repeat center;
  background-size: 100%;
}

.color-mode .moon {
  background: url(./images/moon.svg) no-repeat center;
  background-size: 100%;
}

.sun {
  width: 20px;
  height: 24px;
  filter: var(--filters);
}

.moon {
  width: 20px;
  height: 24px;
  filter: var(--filters);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: rebeccapurple;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo-container {
  justify-content: space-evenly;
  flex: 1;
}

.logos {
  filter: var(--logo-filter);
  opacity: 0.4;
  transition: all 0.3s;
}

.logos:hover {
  filter: var(--logo-filter);
  opacity: 1;
  transition-duration: 0.7s;
}

.logos img {
  max-width: 32px;
  height: 32px;
  max-height: 32px;
}

nav {
  flex: 3;
}

.nav-links {
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link a {
  color: var(--font-color);
  font-size: 18px;
  text-decoration: none;
}
.nav-link:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  padding-top: 5px;
  border-bottom: 2px ridge #c36cbb;
  transition: 0.5s;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:nth-child(2) a {
  font-size: 24px;
  border-bottom: none;
}

.color-mode {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.presentation,
.about,
.projects,
.contact {
  display: flex;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color);
}

.introduction {
  flex: 2;
}

.introduction h2 {
  margin-top: 50px;
}

.intro-text h1 {
  font-size: 50px;
  font-weight: 400;
  color: rebeccapurple;
  display: inline;
  padding: 15px;
}

.intro-text p {
  display: inline;
  margin-top: 5px;
  font-size: 26px;
  color: var(--font-color);
}

.cover {
  flex: 1;
  justify-content: center;
}

.cover img {
  width: 65%;
  filter: drop-shadow(4px 4px 8px rebeccapurple);
  z-index: -1;
}

.about-text h1,
.project-text h1,
.contact-text h1 {
  font-size: 44px;
  font-weight: 400;
  background: var(--heading-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 70px;
}

.project-desc,
.project-show {
  display: flex;
  flex: 1;
  justify-content: center;
}
