* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #5f5f79;
  --link-color: #fff;
  --bg-color: #f8f8fc;
  --heading-color: linear-gradient(to left, #494964, #6f6f89);
  --filters: grayscale(100%);
  --logo-filter: grayscale(100%);
}

[data-theme='dark'] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --link-color: #fff;
  --bg-color: #161625;
  --heading-color: linear-gradient(to left, #a9b3ce, #e1e1ff);
  --filters: invert(91%) sepia(20%) saturate(218%) hue-rotate(356deg)
    brightness(108%) contrast(106%);
  --logo-filter: brightness(0) invert(1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  line-height: 2;
}

p {
  font-family: 'Anonymous Pro', monospace;
}

header {
  display: flex;
  -webkit-box-flex: initial;
  height: 10vh;
  width: 80%;
  margin: auto;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
}

.logo-container,
.nav-links,
.color-mode,
.cover {
  display: flex;
}

.color-mode .sun {
  background: url(./images/sun.svg) no-repeat center;
  background-size: 100%;
}

.color-mode .moon {
  background: url(./images/moon.svg) no-repeat center;
  background-size: 100%;
}

.sun {
  width: 20px;
  height: 24px;
  filter: var(--filters);
}

.moon {
  width: 20px;
  height: 24px;
  filter: var(--filters);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: rebeccapurple;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo-container {
  justify-content: start;
  flex: 1;
}

.logos {
  filter: var(--logo-filter);
  opacity: 0.4;
  transition: all 0.3s;
  position: relative;
  padding: 0px 30px 0px 0px;
}

.logos:hover {
  filter: var(--logo-filter);
  opacity: 1;
  transition-duration: 0.7s;
}

.logos img {
  height: 32px;
  width: 32px;
}

nav {
  flex: 3;
}

.nav-links {
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link a {
  color: var(--font-color);
  font-size: 18px;
  text-decoration: none;
}
.nav-link:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  padding-top: 5px;
  border-bottom: 2px ridge #c36cbb;
  transition: 0.5s;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:nth-child(2) a {
  font-size: 24px;
  border-bottom: none;
}

.color-mode {
  justify-content: end;
  align-items: center;
}

.presentation,
.about {
  display: flex;
  width: 70%;
  margin: auto;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color);
  flex-wrap: wrap;
  align-content: center;
}

.intro-text {
  flex: 2;
}

.intro-text h1 {
  font-size: 50px;
  font-weight: 400;
  color: rebeccapurple;
  display: inline;
  padding: 15px;
}

.intro-text p {
  display: inline;
  margin-top: 5px;
  font-size: 26px;
  color: var(--font-color);
}

#emoji {
  font-size: 25px;
  margin: 5px;
}

span#emoji::after {
  content: '👉🏽';
}

.contact-box h3 {
  color: rebeccapurple;
  margin-top: 50px;
  padding: 40px 0px;
}

.contact-box a {
  text-decoration: none;
  color: var(--font-color);
  padding: 10px 0px;
  box-shadow: inset 0 -3px 0 rebeccapurple;
  transition: all 0.3s ease-in-out;
}

.contact-box a:hover {
  color: var(--link-color);
  box-shadow: inset 0 -100px 0 rebeccapurple;
}

.cover {
  justify-content: end;
}

.cover img {
  width: 370px;
  height: 100%;
  filter: drop-shadow(4px 4px 8px rebeccapurple);
  z-index: -1;
}

.about-about {
  background-color: rebeccapurple;
  border-radius: 20px;
  width: 100%;
  max-width: 960px;
  height: auto;
  box-shadow: 6px 10px 15px rgb(113, 113, 113);
  color: var(--link-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10%;
}

.about-text {
  font-size: 16.5px;
  padding: 10px;
  flex: 1;
  text-align: center;
  line-height: 1.5;
}

.about-pic {
  flex: 2;
}

.about-me p {
  padding: 7px;
}

.projects {
  height: 100vh;
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  max-width: 960px;
}

.projects h1 {
  font-size: 44px;
  font-weight: 400;
  background: var(--heading-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 4rem;
}

.project {
  border-radius: 15px;
  box-shadow: 3px 3px 14px rgb(113, 113, 113);
  text-align: center;
  color: var(--link-color);
  transition: 0.3s;
  max-width: 320px;
}

.project- h1 {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 10%;
}

.thumbnail img {
  max-width: 280px;
  position: relative;
  padding: 10px;
  object-fit: cover;
}

.project:hover {
  box-shadow: 6px 6px 28px rgb(113, 113, 113);
}

.top-half {
  background-color: #d599ff;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  height: auto;
}

.project-content {
  padding: 15px;
  background-color: rebeccapurple;
  border-radius: 0 0 10px 10px;
  height: 350px;
}

.project-content h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10%;
}

.project-content p {
  height: 60%;
}

footer {
  display: flex;
  justify-content: space-around;
}

.project-buttons {
  padding: 30px 0px 0px;
}

.view-code,
.demo {
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  box-shadow: 3px 6px 6px rgb(40, 40, 40);
  border-radius: 5px;
}

.view-code {
  border: 2px solid #d599ff;
  background: transparent;
  color: #d599ff;
}

.view-code:hover {
  color: #d599ff;
  background-color: #fff;
}

.demo {
  border: 2px solid #d599ff;
  background-color: #d599ff;
  color: rebeccapurple;
}

.demo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.demo span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.demo:hover span {
  padding-right: 25px;
  color: #fff;
}

.demo:hover span:after {
  opacity: 1;
  right: 0;
}

.scroll {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scroll span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rebeccapurple;
  border-right: 2px solid rebeccapurple;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scroll span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scroll span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: -0.2s;
}

.scroll span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@media screen and (max-width: 1919px) {
  .presentation,
  .about {
    flex-wrap: nowrap;
  }

  .intro-text h1,
  .about-text h1 {
    font-size: 36px;
  }

  .intro-text p {
    font-size: 20px;
  }

  .scroll {
    bottom: 0px;
  }

  .projects {
    margin-bottom: 3rem;
  }

  span#emoji::after {
    content: '👉🏽';
  }
}

@media screen and (max-width: 1159px) {
  span#emoji::after {
    content: '👇🏽';
  }
}

@media screen and (max-width: 1024px) {
  span#emoji::after {
    content: '👇🏽';
  }

  .presentation {
    height: 90vh;
    margin-bottom: 4rem;
  }

  .about,
  .projects {
    height: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }

  header {
    position: relative;
  }

  .presentation {
    flex-wrap: nowrap;
    height: 80vh;
  }

  .intro-text h1,
  .about-text h1 {
    font-size: 25px;
  }

  .intro-text p {
    font-size: 16px;
  }

  .about-about {
    flex-direction: column;
    height: auto;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 659px) {
  header {
    position: relative;
  }

  .presentation,
  .about {
    height: auto;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }

  .intro-text {
    text-align: center;
  }

  .intro-text h1,
  .about-text h1 {
    font-size: 25px;
  }

  .intro-text p {
    font-size: 16px;
  }

  .about-text {
    font-size: 15px;
  }

  .cover {
    display: none;
  }

  span#emoji::after {
    content: '👇🏽';
  }

  .about-about {
    flex-direction: column;
  }

  .projects {
    height: auto;
    margin-bottom: 4rem;
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .scroll {
    display: none;
  }
}
